@font-face{
    font-family :abster;
    src:url("font/abster-webfont.woff") format('woff');}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@keyframes showText{
    from {
        transform: translateY(70px);
        opacity:0;}
    to{
        transform: translateY(0px);
        opacity:1;}
}

/************************container************************/

.container .header .nav .fa-times{
    visibility: hidden;
}

.container{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("BackgroundImage/News.jpg") no-repeat center / cover;
    /*linear-gradient : 적용된 Html요소에 선형으로 gradient효과를 적용(색상지정점은 총 2개 필요) */
}

.container .header{
    width: 95%; /*상단 메뉴바 영역지정*/
    height: 80px;
    display :flex;
    justify-content: space-between;
    margin: 0% auto; /*메뉴바 요소가 수평기준 중앙으로 오도록 설정*/ 
    align-items : center; /*header에서 수직기준 가운데정렬 되도록 설정*/
}
.container .header h1 a{
    position: relative;
    text-decoration: none;
    color:white;
    font-family:abster; 
}

.container .nav ul li{
    display: inline-block; /*줄바꿈없이 나란히 배치*/
    margin : 0 60px; /*세로, 가로방향*/
}

.container .nav ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.container .nav ul li a:hover{color :tomato;}

/************************hero************************/
.hero{
    position : absolute;
    left : 50%;
    top : 53%;
    transform: translate(-50%, -50%);
    width: 700px;
    height:780px;
    background:rgba(0,0,0,0.4);
}

.NewsBoxText{ /*Textbox위치설정*/
    position : absolute;
    margin-top: 27%;
    margin-left: 7%;
    line-height: 100%;
    animation: showText 2s;}

.NewsBoxText a{ /*Textbox설정*/
    text-decoration: none;
    color:white;
    opacity: 90%;
    font-size: 16px;
    font-weight:normal;
    font-family: 'Poppins', sans-serif;}

/************************Paging************************/

.Paging {
    position : absolute;
    margin-top: 2%;
    margin-left: 40%;
    display: flex;
    justify-content: space-between; /*flex item이 간격을 두고 배치되도록 설정*/
}

.Paging ul li{
    display: inline-block;
    margin : 0 12px; /*li 사이 간격지정*/
    animation: showText 2s;
}

.Paging ul li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    opacity: 30%;
}

.Paging ul li.on a{
    color:white;
    opacity: 90%;
    text-decoration-line: underline;
}

.Paging ul li a:hover{
    color:white;
    opacity: 90%;
    text-decoration-line: underline;
}

/************************flip_btn************************/
.flip_btn{
    position : absolute;
    margin-top: 10%;
    margin-left: 35%;
    width: 200px;
    height: 60px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transform-style: preserve-3d; /*3d로 변경한 후에는 부모요소에 perspective코드 작성*/
    transition: 1s;
}
.flip_btn:hover{transform: rotateX(100deg);}

.front{
    background-color: goldenrod;
    height: 60px;
    transform: translateZ(39px);
}

.back{
    background-color: darkgoldenrod;
    height: 60px;
    transform: rotateX(-105deg) translateZ(-39px) ;
}

/************************footer************************/
.footer{
    width : 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 5%;
}

.footer h4{
    margin-bottom: 15px;
    margin-top: 22px;
    font-weight: 600;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
}
.footer p{
    color: #5e5e5e;
    font-size:14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}
.icons .fab{
    color:tomato;
    margin: 0 13px;
    cursor: pointer;
    padding:18px 0;
    font-size: 20px;
}

.icons .fas{
    color:tomato;
    margin: 0 13px;
    cursor: pointer;
    padding:18px 0;
    font-size: 20px;
}

/************************Media************************/
.header .fa{
    display: none;
}

@media(max-width : 1800px){ 
    .container .nav ul li{
        display: inline-block; /*줄바꿈없이 나란히 배치*/
        margin : 0 20px; /*세로, 가로방향*/
    }
}

@media(max-width : 700px){ 
    .container .header .nav .fa-times{visibility: visible;}

    /************************Container1************************/
    .container .nav ul li{
        display: block;
        padding: 20px;}
    .container .header h1 a{ /*상단로고*/ 
        font-size: 20px;}
    .container .header{
        height: 50px;
        align-items:unset;}
    .container .nav{
        position:absolute;
        background: #f44336;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index:2; 
        transition: 1s;}
    .header .fa{
        display: block;
        color : white;
        margin-top:15px;
        margin-right:3px;
        margin-left:10px;
        font-size: 20px;
        cursor:pointer;}

    /************************hero************************/
    .hero{
        width: 350px;
        height: 490px;}

    .NewsBoxText{ /*Textbox위치설정*/
        margin-left: 5%;
        margin-top: 21%;
        line-height: 65%;}

    .NewsBoxText a{font-size: 12px;}

    /************************Paging************************/
    .Paging {
        margin-top: 0%;
        margin-left: 10%;}

    .Paging ul li a{font-size: 12px;}
    /************************flip_btn************************/
    .flip_btn{
        margin-top: 6%;
        margin-left: 35%;
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .flip_btn:hover{transform: rotateX(0deg);}

    .front{
        background-color: goldenrod;
        height: 30px;
        transform: translateZ(26px);
    }
    .back{display: none;}
    
    /************************footer************************/
    .footer p{
        font-size:11px;
        line-height: 15px;
        padding: 0% 8%;
    }
    .icons .fab{
        font-size: 18px;}
    .icons .fas{font-size: 18px;}
}
@media(max-height : 600px){ 
    .container .hero{display: none;}
}
